[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "stk"]
	path = stk
	url = https://github.com/thestk/stk.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
